.navbar-header {
    padding: 15px;
    text-align: center;
    width: 100%;
}
.navbar-brand {
    float:none;  
}

.input-task {
    margin-top: 30px;  
}

.task-block {
    margin-top: 50px;
}

.task-row {
    height: 30px;
    font-size: 16px;
}


.close {
    margin: -10px 1px 5px 5px;
    color: red;
    float: right;
}

.task-row .close {
    display: none;
}

.task-row:hover .close {
    display: inline;
    color: red;
    cursor: pointer;
}

.chekon label {
    text-decoration: line-through;
    color: #ddd;
}