
.navbar-header {
    padding: 15px;
    text-align: center;
    width: 100%;
}
.navbar-brand {
    float:none;  
}


.task-block {
    margin-top: 50px;
}

.task-row {
    padding: 15px 0;
    border-bottom: 1px solid #eee;
}

.task-row:last-child {
     border-bottom: none;
}



.task-row .close {
    margin-top: -7px;
    display: none;
    color: red;
    transition: .9s;
    cursor: pointer;
}

.task-row:hover .close {
    display: inline;

}

#newTask {
    position: relative;
    margin-top: 30px;
}

.chekon label {
    text-decoration: line-through;
    color: #ddd;
}

#newTask .error-message {
    position: absolute;
    top: 35px;
    left: 0;
    color: red;
}
